.backgroundinv {
  background-image: url("../img/backgroundinv.jpg");
  background-position-y: 80px ;
  color: rgb(255, 255, 255);
}
.aboutus {
    font-family: 'Metal Mania', cursive;
    background-color: rgba(0, 0, 0, 0.62);
    display: inline-block;
    border-radius: 20%;
  }
  .textone {
    font-family: 'Metal Mania', cursive;
    background-color: rgba(0, 0, 0, 0.62);
    display: inline-block;
  }
  
  .logo {
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 20%;
  }

  .textone h2 {
    font-size: 30px;
  }
  
  .img-fluid {
    border-radius: 5%;
    margin-top: 60px;
  }
 