$primary: rgba(154, 12, 12, 0.547);
$secondary: rgba(56, 0, 186, 0.547);
$tertiary: rgba(31, 186, 0, 0.547);
$quaternary: rgba(178, 194, 2, 0.544);
$vanta: rgba(0, 0, 0, 0.544);
$base-color: rgb(161, 27, 27);